# Cppcheck 增量分析缓存目录
cppcheck_cache/
# Cppcheck 报告输出目录
cppcheck_reports/
cppcheck_results.xml

# 编译产物
build/
*.o
*.out

# 系统文件
.DS_Store

# 忽略 Git 提交消息临时文件
.gitcommit_msg

# 忽略项目下任何位置的 .patch 文件
**/*.patch